*,*:before,*:after {
  box-sizing: border-box;
}

.content-container {
  width: 350px;
  margin: auto;
}

.toc-storybar {
  position: relative;
  border-top: 1px solid gray;
}

.toc-storybar:last-child {
  border-bottom: 1px solid gray;
  margin-bottom: .25em;
}

.toc-storybar p {
  text-align: left;
  position: relative;
  padding: 5%;
  margin-bottom: 0;
  margin-top: 0;
  z-index: 100;
}

.toc-bar {
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  background: lightblue;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -ms-transition: width .2s;
  -o-transition: width .2s;
  transition: width .2s;
}